In [1]:
import torch
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
data = pd.read_csv("./dataset/credit-a.csv",header=None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,30.83,0.000,0,0,9,0,1.25,0,0,1,1,0,202,0.0,-1
1,1,58.67,4.460,0,0,8,1,3.04,0,0,6,1,0,43,560.0,-1
2,1,24.50,0.500,0,0,8,1,1.50,0,1,0,1,0,280,824.0,-1
3,0,27.83,1.540,0,0,9,0,3.75,0,0,5,0,0,100,3.0,-1
4,0,20.17,5.625,0,0,9,0,1.71,0,1,0,1,2,120,0.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,0,21.08,10.085,1,1,11,1,1.25,1,1,0,1,0,260,0.0,1
649,1,22.67,0.750,0,0,0,0,2.00,1,0,2,0,0,200,394.0,1
650,1,25.25,13.500,1,1,13,7,2.00,1,0,1,0,0,200,1.0,1
651,0,17.92,0.205,0,0,12,0,0.04,1,1,0,1,0,280,750.0,1
652,0,35.00,3.375,0,0,0,1,8.29,1,1,0,0,0,0,0.0,1

In [16]:
# 数据项，切掉最后一列的标签项
X = data.iloc[:,:-1]

In [17]:
X

     0      1       2   3   4   5   6     7   8   9   10  11  12   13     14
0     0  30.83   0.000   0   0   9   0  1.25   0   0   1   1   0  202    0.0
1     1  58.67   4.460   0   0   8   1  3.04   0   0   6   1   0   43  560.0
2     1  24.50   0.500   0   0   8   1  1.50   0   1   0   1   0  280  824.0
3     0  27.83   1.540   0   0   9   0  3.75   0   0   5   0   0  100    3.0
4     0  20.17   5.625   0   0   9   0  1.71   0   1   0   1   2  120    0.0
..   ..    ...     ...  ..  ..  ..  ..   ...  ..  ..  ..  ..  ..  ...    ...
648   0  21.08  10.085   1   1  11   1  1.25   1   1   0   1   0  260    0.0
649   1  22.67   0.750   0   0   0   0  2.00   1   0   2   0   0  200  394.0
650   1  25.25  13.500   1   1  13   7  2.00   1   0   1   0   0  200    1.0
651   0  17.92   0.205   0   0  12   0  0.04   1   1   0   1   0  280  750.0
652   0  35.00   3.375   0   0   0   1  8.29   1   1   0   0   0    0    0.0

[653 rows x 15 columns]

In [18]:
Y = data.iloc[:,-1].replace(-1,0)
Y

0      0
1      0
2      0
3      0
4      0
      ..
648    1
649    1
650    1
651    1
652    1
Name: 15, Length: 653, dtype: int64

In [19]:
Y.value_counts()

1    357
0    296
Name: 15, dtype: int64

In [20]:
X = torch.from_numpy(X.values).type(torch.FloatTensor)
X.shape

torch.Size([653, 15])

In [21]:
Y = torch.from_numpy(Y.values.reshape(-1,1)).type(torch.FloatTensor)

In [22]:
Y.size()

torch.Size([653, 1])

In [23]:
from torch import nn

In [24]:
model = nn.Sequential(nn.Linear(15,1),nn.Sigmoid())

In [25]:
model

Sequential(
  (0): Linear(in_features=15, out_features=1, bias=True)
  (1): Sigmoid()
)

In [26]:
loss_fn = nn.BCELoss()

In [27]:
opt = torch.optim.SGD(model.parameters(),lr=0.00001)

In [28]:
batches = 16
no_of_batches = 654//16

In [29]:
for epoch in range(1000):
    for batch in range(no_of_batches):
        start = batch * batches
        end = start + batch
        x = X[start:end]
        y = Y[start:end]
        y_pred = model(x)
        loss = loss_fn(y_pred,y)
        opt.zero_grad()
        loss.backward()
        opt.step()

In [30]:
model.state_dict()

OrderedDict([('0.weight',
              tensor([[ 0.1467,  0.0154,  0.0746, -0.1145,  0.1437, -0.0502,  0.1127, -0.0429,
                        0.0144,  0.1803, -0.2359,  0.2366, -0.0862,  0.0027, -0.0006]])),
             ('0.bias', tensor([0.0929]))])

## 计算正确率

In [31]:
((model(X).data.numpy() > 0.5).astype('int') == Y.numpy()).mean()

0.7473200612557427